In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
import nbimporter
import commons.utility.pickle_util as pickle

Importing Jupyter notebook from d:\Academics\MachineLearning\commons\utility\pickle_util.ipynb

In [3]:
pickle.load('../data/picklerCheckpoints/enrichedData/uber-enriched-data-apr14.p', True)

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Loading file ../data/picklerCheckpoints/enrichedData/uber-enriched-data-apr14.p
Decompressing ../data/picklerCheckpoints/enrichedData/uber-enriched-data-apr14.p.pbz2..............Done
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

,Date/Time,Lat,Lon,Base,datetime,New York
0,4/1/2014 0:11:00,40.7690,-73.9549,B02512,04-01-2014:00,scattered clouds
1,4/1/2014 0:17:00,40.7267,-74.0345,B02512,04-01-2014:00,scattered clouds
2,4/1/2014 0:21:00,40.7316,-73.9873,B02512,04-01-2014:00,scattered clouds
3,4/1/2014 0:28:00,40.7588,-73.9776,B02512,04-01-2014:00,scattered clouds
4,4/1/2014 0:33:00,40.7594,-73.9722,B02512,04-01-2014:00,scattered clouds
...,...,...,...,...,...,...
564511,4/30/2014 23:22:00,40.7640,-73.9744,B02764,04-30-2014:23,very heavy rain
564512,4/30/2014 23:26:00,40.7629,-73.9672,B02764,04-30-2014:23,very heavy rain
564513,4/30/2014 23:31:00,40.7443,-73.9889,B02764,04-30-2014:23,very heavy rain
564514,4/30/2014 23:32:00,40.6756,-73.9405,B02764,04-30-2014:23,very heavy rain
564515,4/30/2014 23:48:00,40.6880,-73.9608,B02764,04-30-2014:23,very heavy rain