In [7]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [9]:
import nbimporter
import commons.utility.pickle_util as pickle
import DataEnrichment as de

## Reading Data using pickle

In [12]:
pickle.load('../data/picklerCheckpoints/enrichedData/uber-enriched-data-may14.p', True)

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Loading file ../data/picklerCheckpoints/enrichedData/uber-enriched-data-may14.p
Decompressing ../data/picklerCheckpoints/enrichedData/uber-enriched-data-may14.p.pbz2..............Done
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

,Date/Time,Lat,Lon,Base,datetime,weatherCondition,humidity,pressure,temperature,windDirection,windSpeed
0,5/1/2014 0:02:00,40.7521,-73.9914,B02512,05-01-2014:00,moderate rain,95.0,1033.0,283.736,115.0,4.0
1,5/1/2014 0:06:00,40.6965,-73.9715,B02512,05-01-2014:00,moderate rain,95.0,1033.0,283.736,115.0,4.0
2,5/1/2014 0:15:00,40.7464,-73.9838,B02512,05-01-2014:00,moderate rain,95.0,1033.0,283.736,115.0,4.0
3,5/1/2014 0:17:00,40.7463,-74.0011,B02512,05-01-2014:00,moderate rain,95.0,1033.0,283.736,115.0,4.0
4,5/1/2014 0:17:00,40.7594,-73.9734,B02512,05-01-2014:00,moderate rain,95.0,1033.0,283.736,115.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
652430,5/31/2014 23:45:00,40.7309,-74.0014,B02764,05-31-2014:23,scattered clouds,43.0,1023.0,292.800,30.0,5.0
652431,5/31/2014 23:52:00,40.7528,-73.9798,B02764,05-31-2014:23,scattered clouds,43.0,1023.0,292.800,30.0,5.0
652432,5/31/2014 23:55:00,40.7158,-73.9519,B02764,05-31-2014:23,scattered clouds,43.0,1023.0,292.800,30.0,5.0
652433,5/31/2014 23:56:00,40.6961,-73.8997,B02764,05-31-2014:23,scattered clouds,43.0,1023.0,292.800,30.0,5.0
652434,5/31/2014 23:59:00,40.7393,-73.9919,B02764,05-31-2014:23,scattered clouds,43.0,1023.0,292.800,30.0,5.0

## Reading enriched data made easier
### Simply enter the valid month enumeration to fetch the data
### Valid months are: 
apr
may
jun
jul
aug
sep

#### Note: Files will be regenerated if it does not exist.

In [11]:
de.getUberDataforMonth('apr')

Missing data--Regenerating the eneriched data
Result Saved in ../data/picklerCheckpoints/enrichedData/uber-enriched-data-apr14.p
Enrichment process has finished successfully
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Loading file ../data/picklerCheckpoints/enrichedData/uber-enriched-data-apr14.p
Decompressing ../data/picklerCheckpoints/enrichedData/uber-enriched-data-apr14.p.pbz2..............Done
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Dataset loaded

,Date/Time,Lat,Lon,Base,datetime,weatherCondition,humidity,pressure,temperature,windDirection,windSpeed
0,4/1/2014 0:11:00,40.7690,-73.9549,B02512,04-01-2014:00,scattered clouds,40.0,1016.0,282.960,330.0,5.0
1,4/1/2014 0:17:00,40.7267,-74.0345,B02512,04-01-2014:00,scattered clouds,40.0,1016.0,282.960,330.0,5.0
2,4/1/2014 0:21:00,40.7316,-73.9873,B02512,04-01-2014:00,scattered clouds,40.0,1016.0,282.960,330.0,5.0
3,4/1/2014 0:28:00,40.7588,-73.9776,B02512,04-01-2014:00,scattered clouds,40.0,1016.0,282.960,330.0,5.0
4,4/1/2014 0:33:00,40.7594,-73.9722,B02512,04-01-2014:00,scattered clouds,40.0,1016.0,282.960,330.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...
564511,4/30/2014 23:22:00,40.7640,-73.9744,B02764,04-30-2014:23,very heavy rain,95.0,1033.0,284.317,118.0,5.0
564512,4/30/2014 23:26:00,40.7629,-73.9672,B02764,04-30-2014:23,very heavy rain,95.0,1033.0,284.317,118.0,5.0
564513,4/30/2014 23:31:00,40.7443,-73.9889,B02764,04-30-2014:23,very heavy rain,95.0,1033.0,284.317,118.0,5.0
564514,4/30/2014 23:32:00,40.6756,-73.9405,B02764,04-30-2014:23,very heavy rain,95.0,1033.0,284.317,118.0,5.0
564515,4/30/2014 23:48:00,40.6880,-73.9608,B02764,04-30-2014:23,very heavy rain,95.0,1033.0,284.317,118.0,5.0